*{
    margin: 0;
    padding: 0;
}

.main{
    margin-top: 100px;
    margin-left: 15%;
    text-align: center;
    width: 70%;
    height: 500px;
    background: url(./img/0306_background77.jpg);
}
h3{
    color: aliceblue;
    padding-top: 90px;
}
p{
    color: aliceblue;
    padding-top: 40px;
}
 a{
    display: block;
    border: solid 1px coral;
    border-radius: 8px;
    color: aliceblue;
    margin-top: 60px;
    padding: 12px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    background-color: coral;
}